@import "~antd/dist/antd.css";
@import '~font-awesome/css/font-awesome.css';
@import "~bootstrap/scss/bootstrap";
@import "~fullcalendar-reactwrapper/dist/css/fullcalendar.min.css";
@import "~react-bootstrap-table/dist/react-bootstrap-table.min.css";
@import "~react-big-calendar/lib/css/react-big-calendar.css";
@import "~react-big-calendar/lib/addons/dragAndDrop/styles.css";
@import "../assets/styles/variables";
@import "../assets/styles/general";

@import "./rtl.scss";


$primary-color: #191654;

html {
  min-height: 100%;
  position: relative;
  font-size: 10px;
}

body {
  font-family: $base-font;
  background: #ECECEC;
  // min-width: 1024px;
}

.Container {
  padding: 0 1em;
  margin: 0 auto;
  max-width: 1280px;
}

.SplashSpinner {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.to-dynamic-container {
  position: relative;
  width: 100%;
  padding: 0 !important;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  vertical-align: text-bottom !important;
}

.to-dynamic {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  width: 100%;
  min-width: 0;
  padding: 0 0 5px 0 !important;
  top: 0;
  left: 0;
}

.to-dynamic-container:after,
.to-dynamic:after {
  content: '-';
  display: inline-block;
  visibility: hidden;
}

.ant-table-row {
	cursor: pointer;
}
.rtl .main-header {
  display: flex;
  .navbar {
    flex-grow: 1;
  }
}
.rtl .sidebar-collapse {
  .main-sidebar{
    text-align: left;
  }
  .content-wrap {
    margin-right: 50px;
    margin-left: 0;
  }
  .main-header {
    display: flex;
  }
}
.sidebar-collapse {
  .main-sidebar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 50px !important;
    z-index: 850;

    .user-panel>.info,
    .sidebar-form,
    .sidebar-menu>li>a>span,
    .sidebar-menu>li>.treeview-menu,
    .sidebar-menu>li>a>.pull-right,
    .sidebar-menu li.header {
      display: none !important;
      -webkit-transform: translateZ(0);
    }

    .sidebar-menu:hover {
      overflow: visible;
    }

    .sidebar-menu li:hover a {
      span {
        display: block !important;
        position: absolute;
        width: 180px;
        left: 50px;
        top: 0;
        margin-left: -3px;
        padding: 12px 5px 12px 15px;
        background-color: inherit;
      }
    }
  }

  .main-header .logo {
    width: 50px;
  }
  .main-header .logo>.logo-lg {
    display: none;
  }

  .content-wrap {
    margin-left: 50px;
  }

}

.table {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);

  th, td  {
    padding: 16px 8px;
    word-break: break-all;
  }

  th {
    position: relative;

    span {
      position: absolute;
      bottom: 16px;
      font-size: 16px;
      right: 16px;
      display: block;
      opacity: 0.5;
    }
  }
  .react-bs-table-no-data {
    padding: 8px;
  }
}

.react-bs-table table td:last-child {
  &.react-bs-table-no-data {
    padding: 8px;
  }
}

.react-bs-table table td{
  padding: 8px;
  word-break: break-all;
  vertical-align: middle;
  min-height: 36px;
}

.react-bs-table table td:last-child {
  padding: 0;
}

.pagination {
  font-size: 12px;

  .page-link {
    padding: 6px 12px;
  }
}

.pagination-block {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 15px;
}

.ant-form.ant-form-vertical {
  .ant-form-item {
    margin-bottom: 12px;
  }
  .ant-form-item-label {
    padding: 0;

    label {
      margin-bottom: 0;
    }
  }
}

.btn-actions {
  width: 100px;
  height: 36px;
  color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;

  &.ant-btn:hover {
    color: #fff;
  }

  &.btn-danger {
    background-color: #dd4b39;
    border-color: #d73925;
  }
  &.btn-danger:hover,
  &.btn-danger:active{
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
  }
  &.btn-primary {
    background-color: #3c8dbc;
    color: #ffffff;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #367fa9;
    min-height: 34px;

    &:hover {
      background-color: #286090;
      border-color: #204d74;
    }

    &:active {
      background-color: #286090;
      border-color: #204d74;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

    &:focus {
      color: #fff;
      background-color: #286090;
      border-color: #122b40;
    }
  }
}

.patient-relateds {
  margin-top: 20px;
}

.react-bs-table-no-data {
  height: 36px;
}

@media only screen and (max-width: 380px) {
  .Calendar {
    min-width: 340px !important;
    width: 340px !important;
    max-width: 340px !important;
  }
  .content-wrap {
    .Calendar {
      min-width: 340px !important;
      width: 340px !important;
      max-width: 340px !important;
    }
  }
  .rtl .content-wrap {
    padding-left: 0;
    /* margin-left: 0; */
    overflow: hidden;
    &>div,
    &>section {
      padding-left: 0;
    }
    .Calendar {
      padding: 0 !important;
      overflow: scroll;
      min-width: 340px !important;
      width: 340px !important;
      max-width: 340px !important;
    }
  }
}


/*
*
        Responsive styles
*
*/

@media only screen and (max-width: 500px) {
  .Details__fields {
    width: 100%;
  }
  .treatment-btns-wrap {
    position: static !important;
  }
  .Dashboard__Content.Calendar__Content .fc-toolbar.fc-header-toolbar {
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
  }
}

@media only screen and (max-width: 1080px) {
  .content-wrap {
    padding-right: 0;
    /* margin-left: 0; */
    overflow: hidden;
    &>div,
    &>section {
      padding-right: 0;
    }
    .Calendar {
      padding: 0 !important;
      overflow: scroll;
      min-width: 380px;
    }
  }

  .rtl .content-wrap {
    padding-left: 0;
    /* margin-left: 0; */
    overflow: hidden;
    &>div,
    &>section {
      padding-left: 0;
    }
    .Calendar {
      padding: 0 !important;
      overflow: scroll;
      min-width: 380px;
    }
  }

  .main-header .logo {
    width: 0;
    padding: 0;
  }

  .navbar.navbar-static-top {
    width: 100%;
  }

  .react-bs-table-container {
    overflow-x: auto;

    .react-bs-table,
    .react-bs-table-pagination {
      min-width: 500px;
    }
  }

  .Dashboard__Details {
    flex-direction: column;
  }

  .Dashboard__Actions {
    flex-direction: column;
    align-items: left;
  }

  .top-bar-extra {
    display: flex;
    flex-direction: column;
    top: 0;

    .ant-btn {
      margin-left: 0;
    }
  }
  .main-sidebar {
    transition: transform .3s ease-in-out,width .3s ease-in-out;
  }
  .rtl .sidebar-collapse .content-wrap {
    margin-right: 0;
    padding: 64px 24px 40px;
  }
  .sidebar-collapse {
    .main-header .logo {
      width: 0;
      padding: 0;
    }
    .content-wrap {
      margin-left: 0;
      padding: 64px 24px 40px;
    }
    .main-sidebar {
      min-height: 0;
      max-height: 0;
      width: 0 !important;
      transition: transform .3s ease-in-out,width .3s ease-in-out;

      .user-panel {
        width: 0;
      }
    }
    .sidebar-menu,
    .sidebar-menu li {
      width: 0;
      visibility: hidden;
    }
  }
}

.ant-confirm-btns {
  .ant-btn {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }
  .ant-btn.ant-btn-primary {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
}