@import "~antd/dist/antd.css";
@import '~font-awesome/css/font-awesome.css';
@import "~bootstrap/scss/bootstrap";
@import "~fullcalendar-reactwrapper/dist/css/fullcalendar.min.css";
@import "~react-bootstrap-table/dist/react-bootstrap-table.min.css";
@import "~react-big-calendar/lib/css/react-big-calendar.css";
@import "~react-big-calendar/lib/addons/dragAndDrop/styles.css";
@import "../assets/styles/variables";
@import "../assets/styles/general";

@import "./rtl.scss";


$primary-color: #191654;

html {
  min-height: 100%;
  position: relative;
  font-size: 10px;
}

body {
  font-family: $base-font;
  background: #ECECEC;
  min-width: 1024px;
}

body.rtl {
  direction: rtl;
  .ant-modal-close {
    left: 16px;
  }
  .ProfileWidget__Content {
    padding-left: 0;
    padding-right: 12px;
  }
  .ProfileWidget__Role {
    padding-left: 0;
    padding-right: 4px;
  }
  .ant-btn > .anticon + span, .ant-btn > span + .anticon {
    margin-right: 0.5em;
    margin-left: 0.5em;
  }
  .Dashboard__Actions > div {
    margin-left: 12px;
  }
  .Dashboard__Details {
    justify-content: flex-start;
  }
  .ant-table table {
    text-align: right;
  }
  .ant-table-thead > tr > th {
    text-align: right;
  }
  .ant-form-item {
    display: flex;

  }
  .has-success.has-feedback:after, .has-warning.has-feedback:after, .has-error.has-feedback:after, .is-validating.has-feedback:after {
    right: auto;
    left: 0;
  }
  .ant-modal-footer {
    display: flex;
    flex-direction: row-reverse;
  }
  form .has-feedback .ant-input {
    padding-right: 7px;
    padding-left: 24px;
  }
  .ant-calendar-picker-clear {
    right: auto;
    left: 7px;
  }
  .ant-calendar-picker-icon {
    right: auto;
    left: 8px;
  }
  .ant-select-selection-selected-value {
    float: right;
  }
  .ant-select-selection__placeholder, .ant-select-search__field__placeholder {
    right: 16px;
  }
  .ant-select-selection--multiple .ant-select-selection__rendered {
    padding-left: 24px;
    ul {
      display: inline-flex;
    }
  }
  .ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item:after {
    right: auto;
    left: 8px;
  }
  form .has-feedback .ant-select-arrow, form .has-feedback .ant-select-selection__clear {
    right: 7px;
  }
  .Patients__RelatedPersonsItem .ant-row.ant-form-item {
    > div {
      flex: 1;
    }
  }
  .Login .ant-row.ant-form-item > div {
    flex: 1;
  }

  .ant-calendar-header .ant-calendar-next-century-btn, .ant-calendar-header .ant-calendar-next-decade-btn, .ant-calendar-header .ant-calendar-next-year-btn,
  .ant-calendar-month-panel-header .ant-calendar-month-panel-next-century-btn, .ant-calendar-month-panel-header .ant-calendar-month-panel-next-decade-btn, .ant-calendar-month-panel-header .ant-calendar-month-panel-next-year-btn {
    left: 7px;
    right: auto;
  }
  .ant-calendar-header .ant-calendar-next-month-btn {
    left: 29px;
    right: auto;
  }
  .ant-calendar-header .ant-calendar-prev-century-btn, .ant-calendar-header .ant-calendar-prev-decade-btn, .ant-calendar-header .ant-calendar-prev-year-btn,
  .ant-calendar-month-panel-header .ant-calendar-month-panel-prev-century-btn, .ant-calendar-month-panel-header .ant-calendar-month-panel-prev-decade-btn, .ant-calendar-month-panel-header .ant-calendar-month-panel-prev-year-btn {
    left: auto;
    right: 7px;
  }
  .ant-calendar-header .ant-calendar-prev-month-btn {
    left: auto;
    right: 29px;
  }
  .ant-tabs-nav.ant-tabs-nav-animated {
    float: right;
  }
  .ant-form-item-control-wrapper:first-child {
    flex: 1;
  }
}

.Container {
  padding: 0 1em;
  margin: 0 auto;
  max-width: 1280px;
}

.SplashSpinner {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.to-dynamic-container {
  position: relative;
  width: 100%;
  padding: 0 !important;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  vertical-align: text-bottom !important;
}

.to-dynamic {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  width: 100%;
  min-width: 0;
  padding: 0 0 5px 0 !important;
  top: 0;
  left: 0;
}

.to-dynamic-container:after,
.to-dynamic:after {
  content: '-';
  display: inline-block;
  visibility: hidden;
}

.ant-table-row {
	cursor: pointer;
}

.sidebar-collapse {
  .main-sidebar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 50px !important;
    z-index: 850;

    .user-panel>.info,
    .sidebar-form,
    .sidebar-menu>li>a>span,
    .sidebar-menu>li>.treeview-menu,
    .sidebar-menu>li>a>.pull-right,
    .sidebar-menu li.header {
      display: none !important;
      -webkit-transform: translateZ(0);
    }
  }

  .main-header .logo {
    width: 50px;
  }
  .main-header .logo>.logo-lg {
    display: none;
  }

  .content-wrap {
    margin-left: 50px;
  }

}

.table {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);

  th, td  {
    padding: 16px 8px;
    word-break: break-all;
  }

  th {
    position: relative;

    span {
      position: absolute;
      bottom: 16px;
      font-size: 16px;
      right: 16px;
      display: block;
      opacity: 0.5;
    }
  }


}
.react-bs-table table td{
  padding: 8px;
  word-break: break-all;
  vertical-align: middle;
  min-height: 36px;
}

.react-bs-table table td:last-child {
  padding: 0;
}

.pagination {
  font-size: 12px;

  .page-link {
    padding: 6px 12px;
  }
}

.pagination-block {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 15px;
}

.ant-form.ant-form-vertical {
  .ant-form-item {
    margin-bottom: 12px;
  }
  .ant-form-item-label {
    padding: 0;

    label {
      margin-bottom: 0;
    }
  }
}

body.rtl {
  .ant-form-vertical {
    .ant-form-item {
        display: block;
      .ant-form-item-label {
        text-align: right;
      }
    }
  }
}

.btn-actions {
  width: 100px;
  height: 36px;
  border-radius: unset;
  border-top: none;
  border-left: none;
  color: #fff;

  &.btn-danger {
    background-color: #e96565;
  }
  &.btn-primary {
    background-color: #7497af;
  }
}

.patient-relateds {
  margin-top: 20px;
}

.react-bs-table-no-data {
  height: 36px;
}