@import '../../assets/styles/variables';

.Canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  right: 0;
  top: 0;
  z-index: 1;

  img {
    display: none;
  }

  &__Content {
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &--BlurRectangle {
    background: $blur-colour;
    bottom: 10.3rem;
    left: 10.3rem;
    opacity: .2;
    position: absolute;
    right: 10.3rem;
    top: 9.3rem;
  }
}