.Dashboard {
	.Container {
		padding-top: 12px;
		margin-top: 36px;

		transition: transform .3s ease-in-out,margin .3s ease-in-out;
	}

	&__Actions {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__Content {
		background: #ffffff;
		padding: 12px !important;
		border-radius: 3px;
		margin-top: 36px !important;

		&.Calendar__Content {
			background: transparent;

			.calendar-wrap {
				background: #ffffff;
				padding: 12px !important;
				position: relative;

				.treatment-btns-wrap {
					max-width: 400px;
					position: absolute;
					top: 0;
					right: 0;
				}

				.Dashboard__Actions.PatientObjectTab__Actions {
					margin: 0;
				}
			}

			.fc-toolbar.fc-header-toolbar {
				width: 70%;
			}
		}
	}

	&__Details {
		display: flex;
		justify-content: space-between;
		margin-bottom: 12px;
	}

	&__Header {
		margin: 0;
		font-size: 24px;
		font-weight: 400;
		padding-left: .5em;
	}
}

.rtl .content-wrap {
	margin-right: 230px;
	margin-left: 0;
}
.content-wrap {
	margin-left: 230px;
	padding: 64px 24px 40px;

	transition: transform .3s ease-in-out,margin .3s ease-in-out;
}
