.Dashboard {
	> .Container {
		padding-top: 12px;
		margin-top: 36px;
	}

	&__Actions {
		display: flex;
		justify-content: space-between;
	}

	&__Content {
		background: #ffffff;
		padding: 12px !important;
		border-radius: 3px;
		margin-top: 36px !important;
	}

	&__Details {
		display: flex;
		justify-content: space-between;
		margin-bottom: 12px;
	}

	&__Header {
		margin: 0;
		font-size: 24px;
		font-weight: 400;
		padding-left: .5em;
	}
}