@import "../../assets/styles/variables";

.Login {
  align-items: center;
  background: linear-gradient(to left, $aqua , $dark-blue);
  display: flex;
  height: 100vh;

  justify-content: center;

  &__Window {
    background: #fff;
    border-radius: .3rem;
    padding: 2.5rem 4.6rem 1rem;
    width: 54rem;

    &__CTA {
      display: flex;
      justify-content: space-between;

      &__Registration {
        display: flex;
        flex-direction: column;
        font-size: $cta-font-size;

        &--Register {
          color: $light-blue;
          cursor: pointer;
          display: inline-block;
        }
      }
    }
  }

  &__Header {
    color: #666;
    font-size: $header-font-size;
    font-weight: 300;
    margin: 0;
    padding-bottom: 2rem;
  }
}