@import "../../assets/styles/variables";

.Signup {
  background: url(../../assets/images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  padding: 9.3rem 10.3rem 21.2rem;

  &__WrapUp {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &--Blur{
    background: url(../../assets/images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    bottom: 21.2rem;
    filter: blur(13px);
    left: 10.3rem;
    overflow: hidden;
    position: absolute;
    right: 10.3rem;
    top: 9.3rem;
  }
}