@import "../../assets/styles/variables";

.Signup {
  background: url(../../assets/images/background.png) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: relative;

  &__WrapUp {
    align-items: flex-start;
    background: inherit;
    bottom: 10.3rem;
    display: flex;
    justify-content: space-between;
    left: 10.3rem;
    overflow: hidden;
    position: absolute;
    right: 10.3rem;
    top: 9.3rem;
    width: 117.4rem;
    z-index: 0;

    &:before {
      background: inherit;
      bottom: 0;
      box-shadow: inset 0 0 0 300rem $blur-colour;
      content: ' ';
      filter: blur(1rem);
      filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
      left: -2.5rem;
      position: absolute;
      right: 0;
      top: -2.5rem;
      z-index: -1;
    }
  }

  &__Description {
    padding-left: 14.6rem;
    padding-top: 11.4rem;
  }

  &__Content {
    border: .1rem solid white;
    margin-right: 8.5rem;
    margin-top: 7.9rem;
    padding-left: 6.1rem;
    padding-right: 6.1rem;
    padding-top: 2.4rem;

    width: 48.2rem;
  }
}