[Unit]
Description=Clinic Server

[Service]
User=clinic
Type=simple
ExecStart=/usr/bin/docker-compose up --build
WorkingDirectory=/home/clinic/jobs/petro-clinic
Restart=always
RestartSec=10                       # Restart service after 10 seconds if node service crashes
#User=<alternate user>
#Group=<alternate group>

[Install]
WantedBy=multi-user.target
