[Unit]
Description=Clinic Server
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStart=-/usr/bin/docker-compose -f /home/clinic/jobs/petro-clinic/docker-compose.yml up --build
ExecStop=-/usr/bin/docker-compose -f /home/clinic/jobs/petro-clinic/docker-compose.yml down --rmi local
Restart=always
RestartSec=10                       # Restart service after 10 seconds if node service crashes
#User=<alternate user>
#Group=<alternate group>

[Install]
WantedBy=multi-user.target
