.Patients {
	&__RelatedPersonsItem {
		border-bottom: 1px #eee solid;
		margin-bottom: 24px;
		position: relative;
	}
	&__RelatedPersonsRemove {
		position: absolute !important;
		right: -48px;
		top: 4px;
	}
}