$aqua: #43c6ac;
$dark-blue: #191654;
$light-blue: #108ee9;
$blur-colour: rgba(255, 255, 255, .2);
$content-border: #fff;

$base-font: 'Source Sans Pro', 'SF UI Display', sans-serif;
$header-font-size: 2.8rem;
$description-header-font-size: 6.2rem;
$cta-font-size: 1.4rem;
